# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/

# Node modules (if using frontend)
node_modules/

frontend/node_modules/
frontend/.next/
