fastapi
uvicorn
python-dotenv
pdfplumber
pytesseract
opencv-python-headless
numpy
Pillow
langchain
langchain-community
langchain-groq
chromadb
sentence-transformers
requests
pydantic
pymupdf
python-multipart
